{% extends "layout.html" %}
{% block content %}
    <form action="" method=post>
    <h2>{%- if ds is defined %} Edit {% else %} Add new {% endif -%}Symptom</h2>
        <div class="control-group">
            <div class="control-group" >
                <div class="controls">
                    <select class="selectpicker" name="disease" required>
                        {% for dis in d %}
                            <option value="{{ dis.id }}" {%if ds is defined %}{% if ds.disease_id == dis.id %} selected {% endif %}{% endif %}>{{ dis.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            <div class="control-group">
                <div class="controls">
                    <select class="selectpicker" name="symptom" required>
                        {% for sy in s %}
                                <option value="{{ sy.id }}" {% if ds is defined %}{% if ds.symptom_id == sy.id %} selected {% endif %}{% endif %}>{{ sy.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            <div class="control-group">
                <div class="controls">
                    <input 
                        type="number"
                        id="weight"
                        name="weight"
                        min="0"
                        max="1"
                        step="0.05"
                        class="form-control input-xlarge"
                        placeholder="input weight"
                        {% if ds is defined -%}
                            value="{{ ds.weight }}"
                        {% endif -%}
                        required
                      />
                </div>
            </div>
        </div>
        <hr>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">
                    {% if todo %}
                        Save
                    {% else %}
                        Add Symptom
                    {% endif %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}